body{
    background-color: rgb(45, 45, 45);
}
.wrapper{
    margin: 50px auto;
}
.weather{
    background-color: #7A956B;
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.weather__loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather__loading img{
    max-width: 50px;
}

.weather__header{
    display: flex;
}

.weather__main{
    flex: 1 1 auto;
}

.weather__city{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.weather__status{
    font-size: 20px;
    margin-bottom: 20px;
}

.weather__temp{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.weather__temp::after,
.weather__feels-like{
    display: inline-block;
    margin-left: 5px;
    content: '°C';
}

.weather__form{

    display: flex;
    justify-content: center;
 
}

.form__input{
    outline: none;
    border: none;
}

// .search {
//     width: 812px; /* Ширина поля с кнопкой */
//     background-color: white;

//     min-height: 60px; /* Минимальная высота */
//     border-radius: 94px;
//     margin: 50px auto;
//    }
//    input[type="search"] {
//     border: none; /* Убираем рамку */
//     outline: none; /* Убираем свечение в Chrome и Safari/* Убираем рамку в Chrome и Safari */
//     width: 738.939px;
//     vertical-align: middle; /* Выравнивание по середине */
//     font-size: 34px;
//     border-radius: 94px;
//     margin-top: -20px;
//     margin-left: 10px;
//    }
//    input[type="submit"] {
//     width: 50px; /* Ширина кнопки */
//     height: 45px; /* Высота кнопки */
//     border: none; /* Убираем рамку */
//     background: url('../Vector.svg') no-repeat 10px 5px;  
//    }

